<p style="color: green"><%= notice %></p>

<h1>Visitas</h1>

<div id="pet_histories">

<%= render fomr2 %>
    

<%= link_to "Nueva visita", new_pet_history_path %>
<%= link_to "Regreser Mascotas", pets_path %>





      